body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B244A;
}

.teams-container{
    margin: 30px;
}

p{
    color: red;
}