body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B244A;
}

.teams-container{
    margin: 40px;
    display: grid;
    place-items: center;
    width: auto;
    
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    margin-bottom: 15px;
}

p{
    color: #F94F6D;
    width: 160px;
    height: 120px;
    background-color: black;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    padding-top: 35px;
    border-radius: 8px;
    margin: 0;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 2px;
}
button:hover {
    border-color: greenyellow;
}

.new-game-btn {
    color: greenyellow;
    border-color: greenyellow;
    width: 150px;
    background-color: black;
}

.new-game-btn:hover {
    border-color: #F94F6D;
}

/* Responsive Design for Mobile */
@media (max-width: 600px) {
    .teams-container h1 {
        font-size: 1.5rem;
    }

    .teams-container p {
        font-size: 2rem;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .container {
        padding: 10px; /* Reduce padding on smaller screens */
    }
}